* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ddccdf;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #2b0031;
	/*border-bottom: 3px solid #570063;*/
}

#textlogo {
	text-align: center;
	/* font-size: calc(2.8vmax + 1vh); */
	font-size: 50px;
    text-decoration: none;   
    padding-top: 15px;

}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	/*height: 44px;*/
	/*text-align: center;*/
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: #233245;
}
.side-nav .logo {
	background-color: #570063;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #ffcd81;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #570063;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	/*border-bottom: 1px solid #3c506a;*/
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #64daa9;
	/* background: linear-gradient(to bottom, rgba(255,101,47,1), rgba(42,178,122,1)); */
}
.side-nav ul li a {
	color: #ffcd81;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #ff652f;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 15px;
	font-size: 16px;
	font-weight: 600;
}
/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	/*overflow: scroll;*/
}

.main-title {
	/* position: fixed; */
	background: linear-gradient(to right, rgba(255,101,47,1), rgba(87,0,99,1));
	padding: 10px 20px;
	font-weight: 800;
	color: #ffe4c1;
	font-size: 20px;
	text-shadow: 2px 2px 4px #2b0031;
}
.main-content .title {
	background-color: #eef1f7;
	/*background: linear-gradient(to right, rgba(255,101,47,1), rgba(87,0,99,1));*/
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #2b0031;
		z-index: 5;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}


}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 20px;
		text-shadow: 1px 1px 1px #000;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
	}

}
@media screen and (max-width: 799px) {
	#logocontainer {
		display: none;
	}

	#onmobile {
		margin-top: 25px;
	}
}
/* main box container */
.main {
	/* display: flex; */
	/* flex-flow: row wrap; */
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	background-color: #ccb2d0;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #3c0045;
	font-weight: 600;
}
.ad {
	width: 350px;
	height: 300px;
	border: 1px solid #ddd;
}

